!!!
%html
  %head
    %title Fivehundredpx
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.main
      %div.content.with-side-nav
        %p.notice= notice
        %p.alert= alert
        = yield
